In [1]:
import os 
cwd = os.getcwd()

os.chdir('../')
cwd = os.getcwd()
print(cwd)
 
os.chdir('./code/')
cwd = os.getcwd()
print(cwd)

import pandas as pd 
import numpy as np 
import seaborn as sns

import pickle 
import logging


from config.config import SQLQuery
querySno = SQLQuery('snowflake')

/Users/shashankgupta/Documents/code/git_project/RS2_refit
/Users/shashankgupta/Documents/code/git_project/RS2_refit/Code

In [2]:
model = pd.read_pickle('/Users/shashankgupta/Documents/code/git_project/RS2_refit/Models/rs2_model_v2.pkl')
transformer = pd.read_pickle('/Users/shashankgupta/Documents/code/git_project/RS2_refit/Models/data_scaler_v2.pkl')
data_params = pd.read_pickle('/Users/shashankgupta/Documents/code/git_project/RS2_refit/Models/data_params_v2.pkl')

In [3]:
model.feature_names_in_

array(['od_count_3m', 'zero_balance_count_1m',
       'ratio_ach_credit_amt_90_180', 'ratio_ach_debit_amt_90_180',
       'stddev_amount_ach_c_1m', 'distinct_ach_c_txns_100_6m',
       'distinct_mrdc_txns_1m', 'ratio_debit_credit_1m',
       'ratio_debit_credit_3m', 'median_running_balance_6m'], dtype=object)

In [4]:
data_params

                         feature      median  lower_limit   upper_limit
3                    od_count_3m    0.000000       0.0000     50.480000
6          zero_balance_count_1m    0.000000       0.0000      5.740000
8    ratio_ach_credit_amt_90_180    0.481349       0.0000      1.000000
10    ratio_ach_debit_amt_90_180    0.437795       0.0000      1.000000
64        stddev_amount_ach_c_1m  111.338495       0.0000   6918.901000
71    distinct_ach_c_txns_100_6m   14.000000       0.0000     94.740000
113        distinct_mrdc_txns_1m    0.000000       0.0000      9.220000
133        ratio_debit_credit_1m    1.004027       0.0000    537.812312
134        ratio_debit_credit_3m    1.027857       0.0000     14.564760
137    median_running_balance_6m  743.540000       0.9546  33732.172800

In [5]:
df_raw = pd.read_pickle('/Users/shashankgupta/Documents/code/git_project/RS2_refit/Data/plaid_lending_data.pkl')
df_raw.shape

(710, 12)

In [6]:
df_raw.head()

,business_id,od_count_3m,zero_balance_count_1m,ratio_ach_credit_amt_90_180,ratio_ach_debit_amt_90_180,stddev_amount_ach_c_1m,distinct_ach_c_txns_100_6m,distinct_mrdc_txns_1m,ratio_debit_credit_1m,ratio_debit_credit_3m,median_running_balance_6m,Ever15plus
0,fdbeb997-87d8-411e-a068-9a2297324910,88.0,0.0,0.0,0.0,0.0,0.0,0.0,0.965375,1.093060,-588.455,0
1,215ca059-aac1-4c09-a6db-9e2a143ce7c5,7.0,0.0,0.0,1.0,0.0,0.0,0.0,0.937929,1.004346,2062.540,0
2,252c9a3f-338f-43fc-893f-87e4c8184e8c,89.0,0.0,0.0,1.0,0.0,0.0,0.0,0.788224,0.981938,-6043.300,0
3,02d133cb-e8eb-449d-9b7d-d0501058bc61,90.0,0.0,0.0,0.0,0.0,0.0,0.0,0.553403,0.496360,-1441.830,0
4,e98ced58-b53b-44c0-8cfa-2dd9b43f95be,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.115849,0.861320,1217.350,0

In [7]:
final_cols = ['od_count_3m', 'zero_balance_count_1m',
       'ratio_ach_credit_amt_90_180', 'ratio_ach_debit_amt_90_180',
       'stddev_amount_ach_c_1m', 'distinct_ach_c_txns_100_6m',
       'distinct_mrdc_txns_1m', 'ratio_debit_credit_1m',
       'ratio_debit_credit_3m', 'median_running_balance_6m']

In [8]:
from score_funcs import Score
sc = Score()

/Users/shashankgupta/Documents/code/git_project/RS2_refit
/Users/shashankgupta/Documents/code/git_project/RS2_refit/Code

In [9]:
df0 = sc.preprocess(df_raw,sc.features,data_params,transformer)

In [10]:
df0 = sc.model_scoring_redec(df0,sc.features,model)

In [11]:
df0.head()

,business_id,od_count_3m,zero_balance_count_1m,ratio_ach_credit_amt_90_180,ratio_ach_debit_amt_90_180,stddev_amount_ach_c_1m,distinct_ach_c_txns_100_6m,distinct_mrdc_txns_1m,ratio_debit_credit_1m,ratio_debit_credit_3m,median_running_balance_6m,Ever15plus,rs2_plaid_proba,rs2_plaid_score,rs2_plaid_bin
0,fdbeb997-87d8-411e-a068-9a2297324910,5.524630,-0.133836,-1.720023,-1.295210,-0.477802,-0.971927,-0.311693,-0.158426,-0.136449,-0.474297,0,0.928641,71.359075,1
1,215ca059-aac1-4c09-a6db-9e2a143ce7c5,0.453901,-0.133836,-1.720023,1.720477,-0.477802,-0.971927,-0.311693,-0.158858,-0.190585,-0.036867,0,0.557792,442.207870,2
2,252c9a3f-338f-43fc-893f-87e4c8184e8c,5.524630,-0.133836,-1.720023,1.720477,-0.477802,-0.971927,-0.311693,-0.161217,-0.204260,-0.474297,0,0.930086,69.914114,1
3,02d133cb-e8eb-449d-9b7d-d0501058bc61,5.524630,-0.133836,-1.720023,-1.295210,-0.477802,-0.971927,-0.311693,-0.164917,-0.500574,-0.474297,0,0.922371,77.629055,1
4,e98ced58-b53b-44c0-8cfa-2dd9b43f95be,-0.362454,-0.133836,-1.720023,-1.295210,-0.477802,-0.971927,-0.311693,-0.171812,-0.277864,-0.216200,0,0.495563,504.437448,2

In [12]:
df0['rs2_plaid_bin'].value_counts()

1    451
2     98
3     84
5     44
4     33
Name: rs2_plaid_bin, dtype: int64

#### Rank ordering

In [ ]:
x = df0[final_cols]
y = df0['Ever15plus']
x.reset_index(drop=True,inplace=True)
y.reset_index(drop=True,inplace=True)

df_train = x.copy()
df_train['fpd_plus_3'] = y_train
df_train['proba'] = logreg_model.predict_proba(x_train[feat_list])[:,1:].flatten()

df_train['proba'] = np.round(df_train['proba'], 3)
df_train['DecileRank']= pd.qcut(df_train['proba'], q = 5)
df_stats = pd.DataFrame(df_train.groupby(by='DecileRank')['fpd_plus_3'].mean())
df_stats['volume'] = df_train.groupby(by='DecileRank')['fpd_plus_3'].count()
df_stats

In [13]:
df0['DecileRank'] = pd.qcut(df0['rs2_plaid_proba'], q = 5)
df_stats = pd.DataFrame(df0.groupby(by='DecileRank')['Ever15plus'].mean())
df_stats['volume'] = df0.groupby(by='DecileRank')['Ever15plus'].count()
df_stats

                  Ever15plus  volume
DecileRank
(0.00226, 0.449]    0.164557     158
(0.449, 0.678]      0.325397     126
(0.678, 0.913]      0.190141     142
(0.913, 0.928]      0.267606     142
(0.928, 0.995]      0.218310     142

In [14]:
df0.head()

,business_id,od_count_3m,zero_balance_count_1m,ratio_ach_credit_amt_90_180,ratio_ach_debit_amt_90_180,stddev_amount_ach_c_1m,distinct_ach_c_txns_100_6m,distinct_mrdc_txns_1m,ratio_debit_credit_1m,ratio_debit_credit_3m,median_running_balance_6m,Ever15plus,rs2_plaid_proba,rs2_plaid_score,rs2_plaid_bin,DecileRank
0,fdbeb997-87d8-411e-a068-9a2297324910,5.524630,-0.133836,-1.720023,-1.295210,-0.477802,-0.971927,-0.311693,-0.158426,-0.136449,-0.474297,0,0.928641,71.359075,1,"(0.928, 0.995]"
1,215ca059-aac1-4c09-a6db-9e2a143ce7c5,0.453901,-0.133836,-1.720023,1.720477,-0.477802,-0.971927,-0.311693,-0.158858,-0.190585,-0.036867,0,0.557792,442.207870,2,"(0.449, 0.678]"
2,252c9a3f-338f-43fc-893f-87e4c8184e8c,5.524630,-0.133836,-1.720023,1.720477,-0.477802,-0.971927,-0.311693,-0.161217,-0.204260,-0.474297,0,0.930086,69.914114,1,"(0.928, 0.995]"
3,02d133cb-e8eb-449d-9b7d-d0501058bc61,5.524630,-0.133836,-1.720023,-1.295210,-0.477802,-0.971927,-0.311693,-0.164917,-0.500574,-0.474297,0,0.922371,77.629055,1,"(0.913, 0.928]"
4,e98ced58-b53b-44c0-8cfa-2dd9b43f95be,-0.362454,-0.133836,-1.720023,-1.295210,-0.477802,-0.971927,-0.311693,-0.171812,-0.277864,-0.216200,0,0.495563,504.437448,2,"(0.449, 0.678]"