In [1]:
import os 
cwd = os.getcwd()

os.chdir('../')
cwd = os.getcwd()
print(cwd)
 
os.chdir('./code/')
cwd = os.getcwd()
print(cwd)

import pandas as pd 
import numpy as np 
import seaborn as sns

import pickle 
import logging


from config.config import SQLQuery
querySno = SQLQuery('snowflake')

/Users/shashankgupta/Documents/code/git_project/RS2_refit
/Users/shashankgupta/Documents/code/git_project/RS2_refit/Code

In [2]:
model = pd.read_pickle('/Users/shashankgupta/Documents/code/git_project/RS2_refit/Models/rs2_model_v2.pkl')
transformer = pd.read_pickle('/Users/shashankgupta/Documents/code/git_project/RS2_refit/Models/data_scaler_v2.pkl')
data_params = pd.read_pickle('/Users/shashankgupta/Documents/code/git_project/RS2_refit/Models/data_params_v2.pkl')

In [3]:
model.feature_names_in_

array(['od_count_3m', 'zero_balance_count_1m',
       'ratio_ach_credit_amt_90_180', 'ratio_ach_debit_amt_90_180',
       'stddev_amount_ach_c_1m', 'distinct_ach_c_txns_100_6m',
       'distinct_mrdc_txns_1m', 'ratio_debit_credit_1m',
       'ratio_debit_credit_3m', 'median_running_balance_6m'], dtype=object)

In [4]:
data_params

                         feature      median  lower_limit   upper_limit
3                    od_count_3m    0.000000       0.0000     50.480000
6          zero_balance_count_1m    0.000000       0.0000      5.740000
8    ratio_ach_credit_amt_90_180    0.481349       0.0000      1.000000
10    ratio_ach_debit_amt_90_180    0.437795       0.0000      1.000000
64        stddev_amount_ach_c_1m  111.338495       0.0000   6918.901000
71    distinct_ach_c_txns_100_6m   14.000000       0.0000     94.740000
113        distinct_mrdc_txns_1m    0.000000       0.0000      9.220000
133        ratio_debit_credit_1m    1.004027       0.0000    537.812312
134        ratio_debit_credit_3m    1.027857       0.0000     14.564760
137    median_running_balance_6m  743.540000       0.9546  33732.172800

In [5]:
df_raw = pd.read_pickle('/Users/shashankgupta/Documents/code/git_project/RS2_refit/Data/plaid_lending_data.pkl')
df_raw.shape

(710, 10)

In [6]:
df_raw.head()

,od_count_3m,zero_balance_count_1m,ratio_ach_credit_amt_90_180,ratio_ach_debit_amt_90_180,stddev_amount_ach_c_1m,distinct_ach_c_txns_100_6m,distinct_mrdc_txns_1m,ratio_debit_credit_1m,ratio_debit_credit_3m,median_running_balance_6m
0,88.0,0.0,0.0,0.0,0.0,0.0,0.0,0.965375,1.093060,-588.455
1,7.0,0.0,0.0,1.0,0.0,0.0,0.0,0.937929,1.004346,2076.340
2,89.0,0.0,0.0,1.0,0.0,0.0,0.0,0.788224,0.981938,-6043.300
3,90.0,0.0,0.0,0.0,0.0,0.0,0.0,0.553403,0.496360,-1441.830
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.115849,0.861320,1217.350

In [7]:
final_cols = ['od_count_3m', 'zero_balance_count_1m',
       'ratio_ach_credit_amt_90_180', 'ratio_ach_debit_amt_90_180',
       'stddev_amount_ach_c_1m', 'distinct_ach_c_txns_100_6m',
       'distinct_mrdc_txns_1m', 'ratio_debit_credit_1m',
       'ratio_debit_credit_3m', 'median_running_balance_6m']

In [8]:
from score_funcs import Score
sc = Score()

/Users/shashankgupta/Documents/code/git_project/RS2_refit
/Users/shashankgupta/Documents/code/git_project/RS2_refit/Code

In [9]:
df0 = sc.preprocess(df_raw,sc.features,data_params,transformer)

In [10]:
df0 = sc.model_scoring_redec(df0,sc.features,model)

In [11]:
df0.head()

,od_count_3m,zero_balance_count_1m,ratio_ach_credit_amt_90_180,ratio_ach_debit_amt_90_180,stddev_amount_ach_c_1m,distinct_ach_c_txns_100_6m,distinct_mrdc_txns_1m,ratio_debit_credit_1m,ratio_debit_credit_3m,median_running_balance_6m,rs2_plaid_proba,rs2_plaid_score,rs2_plaid_bin
0,5.524630,-0.133836,-1.720023,-1.295210,-0.477802,-0.971927,-0.311693,-0.158426,-0.136449,-0.474297,0.928641,71.359075,1
1,0.453901,-0.133836,-1.720023,1.720477,-0.477802,-0.971927,-0.311693,-0.158858,-0.190585,-0.033939,0.557228,442.772238,2
2,5.524630,-0.133836,-1.720023,1.720477,-0.477802,-0.971927,-0.311693,-0.161217,-0.204260,-0.474297,0.930086,69.914114,1
3,5.524630,-0.133836,-1.720023,-1.295210,-0.477802,-0.971927,-0.311693,-0.164917,-0.500574,-0.474297,0.922371,77.629055,1
4,-0.362454,-0.133836,-1.720023,-1.295210,-0.477802,-0.971927,-0.311693,-0.171812,-0.277864,-0.216200,0.495563,504.437448,2

In [12]:
df0['rs2_plaid_bin'].value_counts()

1    453
2     96
3     84
5     43
4     34
Name: rs2_plaid_bin, dtype: int64